@import '../../../styles/variables';

.navbar-brand{
    padding-left: 1vw;
}

li{
    float: right;
    text-align: center;
    
    a {
        color: $light-grey;
        margin-left: 1em;
        margin-right: 1em; 

        &.active{
            border-bottom: 3px solid $accent;
        }
    }
}


