@import './variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

.container-wrapper{
    height: calc(90vh - 3.5em) !important;
}

.alert {
    position: fixed;
    top: 3.5em;
    width: 100%;
}